*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlin-kotlin-stdlib-2.1.20-commonMain-uBNgdg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlin-kotlin-stdlib-2.1.21-commonMain-uBNgdg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlin-kotlin-test-2.1.20-annotationsCommonMain-A80Paw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlin-kotlin-test-2.1.20-assertionsCommonMain-A80Paw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-auth-3.1.0-commonMain-12-1Kg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-auth-3.2.0-commonMain-zbSjog.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-cio-3.1.0-commonMain-1h1QtA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-cio-3.1.0-nonJvmMain-1h1QtA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-cio-3.1.0-posixMain-1h1QtA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-cio-3.2.0-commonMain-KjIgrw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-cio-3.2.0-nonJvmMain-KjIgrw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-cio-3.2.0-posixMain-KjIgrw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-content-negotiation-3.1.0-commonMain-JOFagw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-content-negotiation-3.1.0-posixMain-JOFagw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-content-negotiation-3.2.0-commonMain-FAa6hw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-content-negotiation-3.2.0-posixMain-FAa6hw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-core-3.1.0-commonMain-zNPbyA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-core-3.1.0-nonJvmMain-zNPbyA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-core-3.1.0-posixMain-zNPbyA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-core-3.2.0-commonMain-uYabag.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-core-3.2.0-jvmAndPosixMain-uYabag.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-core-3.2.0-nonJvmMain-uYabag.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-core-3.2.0-posixMain-uYabag.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-darwin-2.3.12-darwinMain-CnRCQQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-darwin-3.1.0-darwinMain-JqJ6pQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-darwin-3.2.0-darwinMain-kXBaZQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-logging-3.1.0-commonMain-pYKLBg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-logging-3.1.0-posixMain-pYKLBg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-logging-3.2.0-commonMain-ImtDUw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-logging-3.2.0-posixMain-ImtDUw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-events-3.1.0-commonMain-6BUpyw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-events-3.2.0-commonMain-pxrW5Q.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-3.1.0-commonMain-C60_2Q.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-3.1.0-posixMain-C60_2Q.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-3.2.0-commonMain-7Do39Q.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-3.2.0-posixMain-7Do39Q.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-cio-3.1.0-commonMain-SrQkIg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-cio-3.1.0-jvmAndPosixMain-SrQkIg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-cio-3.1.0-posixMain-SrQkIg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-cio-3.2.0-commonMain-uPQw7w.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-cio-3.2.0-jvmAndPosixMain-uPQw7w.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-cio-3.2.0-posixMain-uPQw7w.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.1.0-commonMain-0AWRlA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.1.0-darwinMain-VebtWA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.1.0-jvmAndPosixMain-0AWRlA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.1.0-posixMain-0AWRlA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.2.0-commonMain-l201Ug.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.2.0-darwinMain-I8cHZQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.2.0-jvmAndPosixMain-l201Ug.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.2.0-posixMain-l201Ug.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.1.0-commonMain-YkPbow.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.1.0-darwinMain-B693-Q.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.1.0-iosMain-B693-Q.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.1.0-nixMain-YkPbow.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.1.0-nonJvmMain-YkPbow.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.1.0-posixMain-YkPbow.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.2.0-commonMain-4mYktQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.2.0-darwinMain-6emLwQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.2.0-iosMain-6emLwQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.2.0-nixMain-4mYktQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.2.0-nonJvmMain-4mYktQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-3.2.0-posixMain-4mYktQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-tls-3.1.0-commonMain-bttVYA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-tls-3.1.0-nonJvmMain-bttVYA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-tls-3.2.0-commonMain-7MJeRw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-network-tls-3.2.0-nonJvmMain-7MJeRw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-3.1.0-commonMain-ap7BlQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-3.2.0-commonMain-fYN0AQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-3.1.0-commonMain-vCvDRA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-3.1.0-posixMain-vCvDRA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-3.2.0-commonMain-bmlb8g.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-3.2.0-posixMain-bmlb8g.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-json-3.1.0-commonMain-CQrDiQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-json-3.1.0-posixMain-CQrDiQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-json-3.2.0-commonMain-GbWWlA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-json-3.2.0-posixMain-GbWWlA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-sse-3.1.0-commonMain-Sy69FA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-sse-3.2.0-commonMain-mTFr7g.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.1.0-commonMain-Hp2p2g.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.1.0-darwinMain-KiCD0Q.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.1.0-nixMain-Hp2p2g.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.1.0-posixMain-Hp2p2g.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.2.0-commonMain-4pr_GQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.2.0-darwinMain-bD5GGA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.2.0-nixMain-4pr_GQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.2.0-posixMain-4pr_GQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websocket-serialization-3.1.0-commonMain-4lwwjQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websocket-serialization-3.2.0-commonMain-L7D-5A.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websockets-3.1.0-commonMain-WQyQMg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websockets-3.1.0-posixMain-WQyQMg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websockets-3.2.0-commonMain-ihhGMw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websockets-3.2.0-posixMain-ihhGMw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-atomicfu-0.23.1-commonMain-wFq7cg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-atomicfu-0.23.1-nativeMain-wFq7cg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.10.1-commonMain-KUhp4Q.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.10.1-concurrentMain-KUhp4Q.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.10.1-nativeDarwinMain--jzUgA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.10.1-nativeMain-KUhp4Q.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.10.2-commonMain-wJOvIw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.10.2-concurrentMain-wJOvIw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.10.2-nativeDarwinMain--jzUgA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.10.2-nativeMain-wJOvIw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-bytestring-0.6.0-appleMain-Pv9upw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-bytestring-0.6.0-commonMain-ptgxIQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-bytestring-0.6.0-nativeMain-ptgxIQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-bytestring-0.7.0-appleMain-RxDtHA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-bytestring-0.7.0-commonMain-Z6unQQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-bytestring-0.7.0-nativeMain-Z6unQQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.6.0-appleMain-BOEJjg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.6.0-commonMain-Ctrzpg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.6.0-nativeMain-Ctrzpg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.6.0-nativeNonAndroidMain-Ctrzpg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.7.0-appleMain-pcHO0Q.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.7.0-commonMain-BKg_EQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.7.0-nativeMain-BKg_EQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.7.0-nativeNonAndroidMain-BKg_EQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-core-1.8.0-commonMain-tao8ug.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-core-1.8.0-nativeMain-tao8ug.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-core-1.8.1-commonMain--3vp9g.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-core-1.8.1-nativeMain--3vp9g.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-json-1.8.0-commonMain-sWF2lQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-json-1.8.0-nativeMain-sWF2lQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-json-1.8.1-commonMain-5O0Ftg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-json-1.8.1-nativeMain-5O0Ftg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-json-io-1.8.0-commonMain-YDa3rA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-json-io-1.8.1-commonMain-7Hjoiw.klib
